
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');



.sliderNavigation{
    position:relative;
    z-index: 888;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateY(80px);


}
   .sliderNavigation .nav-btn{
       width: 12px;
       height: 12px;
       border-radius: 50%;
       background-color: red;
       cursor: pointer;
       transition: 0.3s ease;
   }
   .sliderNavigation .nav-btn.active{
   background-color: blueviolet;
}
 
       
   .sliderNavigation .nav-btn:not(:last-child){
  margin-right: 20px;
 }
   

   .sliderNavigation .nav-btn:hover{
   transform:scale(1.2)
}
  
     





















/* .main{
background-color: rgb(38, 46, 51);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.container{
    background-color: rgb(61,72,79);
    height: 65vh;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgb(185, 60, 60)
}
.heading{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:10px;
   
}
.inputfield{
    color: white !important;
    border-radius: 15px;

}
.button{
    font-family: cursive;
    font-weight: bold;
} */